<nav class="navbar navbar-expand-md navbar-light bg-light footer">
    <div class="text-muted" id="logindata">
    </div>
    <div class="text-muted ml-3" id="clearancedata">
    </div>
    <div class="text-muted ml-3">
    <% if(active !== 'login'){ %>
        <a href="#" onclick="logout()" >Logout</a>
    <% } %>
    </div>
    <div class="text-muted ml-auto float-right">
        <%= rocuname %>
    </div>
</nav>

<script src="/js/lib/jquery-3.3.1.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>-->
<!-- Bootstrap bundle includes Popper -->
<script src="/js/lib/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>