<%- include ../partials/head.ejs -%>
  <body>
    <%- include ../partials/navbar.ejs -%>
    <main role="main" class="container">
      <div class="starter-template">
        <h3>Search Hit Review</h3>

        <div id="accordion" role="tablist">
          No entries
        </div>
      </div>

    </main>
    <%- include ../partials/footer.ejs -%>
    <script type="text/javascript" src="/js/auth.js"></script>
    <script type="text/javascript" src="/js/review.js"></script>
  </body>
</html>